* {
    margin: 0px;
    padding: 0px;
    list-style: none;
    text-decoration: none;
}

h1 {
    font-weight: normal;
}

/*tipografías embed*/
.bebas-neue-regular {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.fira-sans-extra-condensed-thin {
    font-family: "Fira Sans Extra Condensed", sans-serif;
    font-weight: 100;
    font-style: normal;
}

/*-------------*/

/*Header ------------------ */
header {
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);

    background-image: url('../images/fondohome.jpg');
    background-size: cover;
    /* hace que la imagen cubra todo el fondo */
    background-position: center;
    /* centra la imagen */
    background-repeat: no-repeat;
    /* evita que se repita */
    height: 100vh;
    width: 100%;
    /* asegura que cubra todo el alto de la ventana */
}

.cabeceraHeader {
    position: absolute;
    width: 100%;
    display: grid;
    padding: 1em 0;
    grid-template-columns: repeat(3, 1fr);
}

.logo {
    display: flex;
    justify-items: flex-start;
    align-items: center;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    padding-left: 2.3em;
    color: #ffffff;

}



.menuHeader {
    display: flex;
    list-style: none;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    font-family: "Bebas Neue", sans-serif;
    font-size: 1.1em;

}

.menuHeader ul {
    display: flex;
}

.menuHeader li {
    margin: 0 1em;
}

.menuHeader li a {
    color: aliceblue;
}



.redesHeader {

    display: flex;
    justify-content: flex-end;
    padding-right: 2.3em;
}

.redesHeader img {
    margin: 0 0.2em;
}

.div2HeaderHome {
    position: absolute;
    width: 100%;
    top: 10%;
    display: flex;
    font-size: 29vw;
    justify-content: center;
    align-items: center;
    font-family: "Bebas Neue", sans-serif;
    color: transparent;
    -webkit-text-stroke: 1px #ffffff;

}

.div3HeaderHome {
    position: absolute;
    top: 72%;
    width: 25%;

    color: #ffffff;
    font-family: "Fira Sans Extra Condensed", sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 1.3em;
    padding-left: 2.3em;

}

.chevronDownHeaderHome {
    position: absolute;
    top: 90%;
    display: flex;
    width: 100%;
    justify-content: center;
    fill: #ffffff;
}

.chevronDownHeaderHome img {
    width: 3em;
}

/** header ------------------ */

/*Main------------------ */


.containerMain {
    display: grid;
    grid-template-columns: 1fr;
    height: 500px;
    grid-template-rows: repeat(4, 1fr);
}

.titleDesignMultiplataforma {
    margin: 10% 10% 2% 10%;
    font-family: "Fira Sans Extra Condensed", sans-serif;
}

.titleDesignMultiplataforma h2 {
    font-weight: 200;
    font-style: normal;
}

.main2{
    display: flex;
    justify-content: space-between;
    margin:1% 10% 2% 10%; ;
}
.main2 section{
    width:20% ;
    
}

/**main------------------ */