* {
    margin: 0px;
    padding: 0px;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

/*tipografías embed ------- */
.bebas-neue-regular {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.fira-sans-extra-condensed-thin {
    font-family: "Fira Sans Extra Condensed", sans-serif;
    font-weight: 100;
    font-style: normal;
}

/**tipografías embed ------- */

h1,
h2,
h3,
h4,
h5,
h6,
a {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
}

p {
    font-family: "Fira Sans Extra Condensed", sans-serif;
    font-weight: 200;
    font-style: normal;
}



header {
    background-image: url(../images/fondohome.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh;
    padding: 1% 2%;
}

main {
    min-height: 100vh;
    padding: 1% 2%;
}

.containerMain {
    width: 80%;
    margin: auto;
    padding-top: 15%;

}


.containerCabeceraEscritorio {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: #fff;
}


.containerCabeceraEscritorio .logo {
    width: 30%;
}

.containerCabeceraEscritorio .menuHeader ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20%;

}

.containerCabeceraEscritorio .menuHeader ul li a {
    color: #fff;
}

.containerCabeceraEscritorio .redesHeader {
    display: flex;
    flex-direction: row;
    justify-content: end;
    width: 30%;
    gap: 2%;
}


/* Escondemos cabecera de escritorio*/

.redesHeaderMovil {
    display: none;
}

.containerCabeceraMovil {
    display: none;
}


.presentacion {
    display: flex;
    justify-content: center;
    margin: 2% 0% 3% 0%;
    font-size: 15vw;
    color: transparent;
    -webkit-text-stroke: 2px #ffffff;
}

.textoHeaderHome {
    position: relative;
    top: -5em;
    font-size: 1.3em;
    width: 30%;
    margin: auto;
    color: #ffffff;

}

.chevronDownHeaderHome {
    position: relative;
    top: -2em;
    display: flex;
    justify-content: center;
    margin: auto;
    width: 30%;
}

.chevronDownHeaderHome img {
    width: 3em;
}


/* media querys */

@media (max-width: 768px) {
    .containerCabeceraEscritorio {
        display: none;
    }

    .containerCabeceraMovil .menuHeader {
        display: none;
    }

    .containerCabeceraMovil {
        display: block;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        color: #fff;
    }



    .containerCabeceraMovil .logo h1 {
        font-size: medium;
    }

    .containerCabeceraMovil .menuHeader ul {
        display: none;
        display: flex;
        flex-direction: row;
        gap: 20%;

    }

    .containerCabeceraMovil .menuHeader ul li a {
        color: #fff;
    }

    .containerCabeceraMovil .hamburguerMenu:hover .menuHeader ul {
        display: block;
    }

    .presentacion {
        display: flex;
        justify-content: center;
        margin: 2% 0% 3% 0%;
        font-size: 15vw;
        color: transparent;
        -webkit-text-stroke: 1px #ffffff;
    }

    .textoHeaderHome {
        width: 60%;
        top: 0%;
        padding: 5%;

    }

    .redesHeaderMovil {
        display: block;
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding: 20% 0% 0% 0%;
        gap: 2%;

    }

    .chevronDownHeaderHome {
        top: 0%;
        padding-top: 20%;
        display: flex;
        justify-content: center;
        width: 20%;
    }

    .chevronDownHeaderHome img {
        width: 3em;
    }

}